*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  background-color: aqua;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  gap: 40px;

}