# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVnkt9gvafM-uLB7V-_iaoNO0JrnnM8rjKTJ8yKJXjoA&s=10